/* Animação de gradiente em movimento para tela de login */
.animated-gradient {
  background: linear-gradient(120deg, #0057c8, #16b12b, #ffd900, #e51b23);
  background-size: 400% 400%;
  animation: gradientMove 12s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
